<div id="blogBG">
    <h2 style="text-align: center; margin-top:4%;margin-bottom:4%; color:white;">
        {{name}}
    </h2>
    <hr style="color: white;">
    <h4 style="text-align: center; margin-top:4%; color:white;">Created by {{user.name}} on {{format_date date_created}}
    </h4>
    <div style="margin: 0% 5% 0% 5%; background-color: white; border-radius: 5px;">
        <p style="margin: 5%; color: palevioletred;">"{{text}}"</p>
    </div>
    {{#if comments}}
    {{#each comments}}
    <div>
        <p style="color: white;">{{comment}}</p>
    </div>
    {{/each}}
    {{/if}}
    {{#if logged_in}}
    <div class="center">
        <textarea style="background-color: white; width: 60%;display: block;margin-left: auto;margin-right: auto;" name="" id="comment" cols="30" rows="10"></textarea>
        <button style="margin: auto" class="btn btn-sm btn-comment" data-id="{{id}}">add comment</button>
    </div>
    {{/if}}
</div>

<script src="/js/blog.js"></script>